.vs
Физкультура/
Course_project/
социалогия
computer_multimedia_systems/labs/lab_6/Lab_6/Library
computer_multimedia_systems/labs/lab_7/Lab_7/Library
computer_multimedia_systems/labs/lab_7/Lab_7/Packages